<?xml version="1.0"?>
<config>
  <modules>
    <Ndee_Proproaongkir>
      <version>1.1.0</version>
    </Ndee_Proproaongkir>
  </modules>
  <frontend>
    <routers>
      <proaongkir>
        <use>standard</use>
          <args>
            <module>Ndee_Proproaongkir</module>
            <frontName>proaongkir</frontName>
          </args>
      </proaongkir>
    </routers>
		<layout>
		  <updates>
			<proaongkir>
			  <file>proaongkir.xml</file>
			</proaongkir>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <proaongkir>
        <class>Ndee_Proproaongkir_Helper</class>
      </proaongkir>
    </helpers>
	<blocks>
	  <proaongkir>
		<class>Ndee_Proproaongkir_Block</class>
	  </proaongkir>
	</blocks>
	<models>
	  <proaongkir>
		<class>Ndee_Proproaongkir_Model</class>
		<resourceModel>proaongkir_mysql4</resourceModel>
	  </proaongkir>
	  <proaongkir_mysql4>
		<class>Ndee_Proproaongkir_Model_Mysql4</class>
		<entities>		  
			  <area>
				<table>daftar_alamat</table>
			  </area>
        </entities>
	  </proaongkir_mysql4>
	</models>
	<resources>
	  <proaongkir_setup>
		<setup>
		  <module>Ndee_Proproaongkir</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </proaongkir_setup>
	  <proaongkir_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </proaongkir_write>
	  <proaongkir_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </proaongkir_read>
	</resources>
	
	<fieldsets>
            <sales_convert_quote_address>
                <subdistrict_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </subdistrict_name>
            </sales_convert_quote_address>
            <customer_address>
                <subdistrict_name>
                    <to_quote_address>*</to_quote_address>
                </subdistrict_name>
            </customer_address>
        </fieldsets>
	
  </global>    
	<default>
        <carriers>
            <ongkir>
                <active>0</active>
				<apiurl>http://pro.rajaongkir.com/api/</apiurl>
                <model>proaongkir/carrier_ongkir</model>
                <name>Ongkir</name>
                <title>Ongkir</title>
                <description>RajaOngkir.com</description>
                <sort_order>0</sort_order>
				<apikey>PRO KEY HERE</apikey>
				<freeshipping_min_subtot>0</freeshipping_min_subtot>
				<freeshipping_text>Free Shipping</freeshipping_text>
				
				
            </ongkir>
        </carriers>
    </default>    
    <crontab>
        <jobs>            
			<proaongkir_updatealamat>
                <schedule><cron_expr>0 0  * * *</cron_expr></schedule>
                <run><model>proaongkir/cron::UpdateAlamat</model></run>
            </proaongkir_updatealamat>
        </jobs>
    </crontab>
</config> 