<?xml version="1.0"?>
<config>
    <modules>
        <Awbali_Konfirmasipembayaran>
            <version>0.1.2</version>
        </Awbali_Konfirmasipembayaran>
    </modules>
    <frontend>
        <routers>
            <konfirmasipembayaran>
                <use>standard</use>
                <args>
                    <module>Awbali_Konfirmasipembayaran</module>
                    <frontName>konfirmasipembayaran</frontName>
                </args>
            </konfirmasipembayaran>
        </routers>
        <layout>
            <updates>
                <konfirmasipembayaran>
                    <file>konfirmasipembayaran.xml</file>
                </konfirmasipembayaran>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<Awbali_Konfirmasipembayaran_Adminhtml before="Mage_Adminhtml">Awbali_Konfirmasipembayaran_Adminhtml</Awbali_Konfirmasipembayaran_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<konfirmasipembayaran module="konfirmasipembayaran">
				<title>Konfirmasi Pembayaran</title>
				<sort_order>71</sort_order>     
				<action>adminhtml/konfirmasipembayaran</action>
			</konfirmasipembayaran>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<konfirmasipembayaran translate="title" module="konfirmasipembayaran">
							<title>Konfirmasi Pembayaran Module</title>
							<sort_order>10</sort_order>
						</konfirmasipembayaran>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<konfirmasipembayaran>
					<file>konfirmasipembayaran.xml</file>
				</konfirmasipembayaran>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <konfirmasipembayaran>
                <class>Awbali_Konfirmasipembayaran_Model</class>
                <resourceModel>konfirmasipembayaran_mysql4</resourceModel>
            </konfirmasipembayaran>
            <konfirmasipembayaran_mysql4>
                <class>Awbali_Konfirmasipembayaran_Model_Mysql4</class>
                <entities>
                    <konfirmasipembayaran>
                        <table>konfirmasi_pembayaran</table><!-- table name -->
                    </konfirmasipembayaran>
                </entities>
            </konfirmasipembayaran_mysql4>
        </models>
        <resources>
            <konfirmasipembayaran_setup>
                <setup>
                    <module>Awbali_Konfirmasipembayaran</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </konfirmasipembayaran_setup>
            <konfirmasipembayaran_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </konfirmasipembayaran_write>
            <konfirmasipembayaran_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </konfirmasipembayaran_read>
        </resources>
        <blocks>
            <konfirmasipembayaran>
                <class>Awbali_Konfirmasipembayaran_Block</class>
            </konfirmasipembayaran>
        </blocks>
        <helpers>
            <konfirmasipembayaran>
                <class>Awbali_Konfirmasipembayaran_Helper</class>
            </konfirmasipembayaran>
        </helpers>
    </global>
</config>