<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
-->
<config>
    <modules>
        <Amasty_Promo>
            <version>2.4.1</version>
        </Amasty_Promo>
    </modules>

    <global>
        <resources>
            <ampromo_setup>
                <setup>
                    <module>Amasty_Promo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ampromo_setup>

            <ampromo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ampromo_write>

            <ampromo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ampromo_read>
        </resources>

        <models>
            <ampromo>
                <class>Amasty_Promo_Model</class>
            </ampromo>
            <salesrule>
                <rewrite>
                    <quote_discount>Amasty_Promo_Model_SalesRule_Quote_Discount</quote_discount>
                    <rule_condition_product>Amasty_Promo_Model_SalesRule_Rule_Condition_Product</rule_condition_product>
                    <rule_condition_product_subselect>Amasty_Promo_Model_SalesRule_Rule_Condition_Product_Subselect</rule_condition_product_subselect>
                    <rule_condition_product_combine>Amasty_Promo_Model_SalesRule_Rule_Condition_Product_Combine</rule_condition_product_combine>
                </rewrite>
            </salesrule>
            <salesrule_mysql4>
                <rewrite>
                    <rule>Amasty_Promo_Model_SalesRule_Mysql4_Rule</rule>
                </rewrite>
            </salesrule_mysql4>
            <sales>
                <rewrite>
                    <quote_item>Amasty_Promo_Model_Sales_Quote_Item</quote_item>
                    <quote_address>Amasty_Promo_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <ampromo>
                <class>Amasty_Promo_Block</class>
            </ampromo>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit>Amasty_Promo_Block_Adminhtml_Promo_Quote_Edit</promo_quote_edit>
                    <promo_quote_edit_tab_main>Amasty_Promo_Block_Adminhtml_Promo_Quote_Edit_Tab_Main</promo_quote_edit_tab_main>
                <promo_quote_edit_tab_labels>Amasty_Promo_Block_Adminhtml_Promo_Quote_Edit_Tab_Labels</promo_quote_edit_tab_labels>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <ampromo>
                <class>Amasty_Promo_Helper</class>
            </ampromo>
        <weee>
                <rewrite>
                    <data>Amasty_Promo_Helper_Weee_Data</data>
                </rewrite>
            </weee>
        </helpers>
    </global>

    <frontend>
        <routers>
            <ampromo>
                <use>standard</use>
                <args>
                    <module>Amasty_Promo</module>
                    <frontName>ampromo</frontName>
                </args>
            </ampromo>
        </routers>
        <translate>
            <modules>
                <Amasty_Promo>
                    <files>
                        <default>Amasty_Promo.csv</default>
                    </files>
                </Amasty_Promo>
            </modules>
        </translate>
        <layout>
            <updates>
                <ampromo>
                    <file>amasty/ampromo/ampromo.xml</file>
                </ampromo>
            </updates>
        </layout>
        <events>
            <salesrule_validator_process>
                <observers>
                    <amasty_promo_model_validator_process_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>handleValidation</method>
                    </amasty_promo_model_validator_process_observer>
                </observers>
            </salesrule_validator_process>

            <sales_quote_collect_totals_after>
                <observers>
                    <amasty_promo_model_totals_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCollectTotalsAfter</method>
                    </amasty_promo_model_totals_after_observer>
                </observers>
            </sales_quote_collect_totals_after>

            <sales_quote_collect_totals_before>
                <observers>
                    <amasty_promo_model__totals_beforeobserver>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCollectTotalsBefore</method>
                    </amasty_promo_model__totals_beforeobserver>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_address_collect_totals_after>
                <observers>
                    <amasty_promo_model_totals_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onAddressCollectTotalsAfter</method>
                    </amasty_promo_model_totals_after_observer>
                </observers>
            </sales_quote_address_collect_totals_after>

            <sales_quote_remove_item>
                <observers>
                    <amasty_promo_model_remove_item_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onQuoteRemoveItem</method>
                    </amasty_promo_model_remove_item_observer>
                </observers>
            </sales_quote_remove_item>

            <sales_order_place_after>
                <observers>
                    <amasty_promo_model_place_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>decrementUsageAfterPlace</method>
                    </amasty_promo_model_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <amasty_promo_model_place_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onOrderPlaceBefore</method>
                    </amasty_promo_model_place_before_observer>
                </observers>
            </sales_order_place_before>
            <sales_quote_product_add_after>
                <observers>
                    <amasty_promo_model_add_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onProductAddAfter</method>
                    </amasty_promo_model_add_after_observer>
                </observers>
            </sales_quote_product_add_after>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <amasty_promo_model_cart_updateItemOptions_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCartItemUpdateBefore</method>
                    </amasty_promo_model_cart_updateItemOptions_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <checkout_submit_all_after>
                <observers>
                    <amasty_promo_model_registry>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </amasty_promo_model_registry>
                </observers>
            </checkout_submit_all_after>
            <checkout_cart_update_items_before>
                <observers>
                    <amasty_promo_model_items_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCheckoutCartUpdateItemsBefore</method>
                    </amasty_promo_model_items_before_observer>
                </observers>
            </checkout_cart_update_items_before>
            <customer_logout>
                <observers>
                    <amasty_promo_model_items_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </amasty_promo_model_items_before_observer>
                </observers>
            </customer_logout>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Amasty_Promo>
                    <files>
                        <default>Amasty_Promo.csv</default>
                    </files>
                </Amasty_Promo>
            </modules>
        </translate>

        <events>
            <salesrule_validator_process>
                <observers>
                    <amasty_promo_model_validator_process_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>handleValidation</method>
                    </amasty_promo_model_validator_process_observer>
                </observers>
            </salesrule_validator_process>

            <sales_quote_collect_totals_after>
                <observers>
                    <amasty_promo_model_totals_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCollectTotalsAfter</method>
                    </amasty_promo_model_totals_after_observer>
                </observers>
            </sales_quote_collect_totals_after>

            <sales_quote_collect_totals_before>
                <observers>
                    <amasty_promo_model_totals_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCollectTotalsBefore</method>
                    </amasty_promo_model_totals_before_observer>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_address_collect_totals_after>
                <observers>
                    <amasty_promo_model_totals_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onAddressCollectTotalsAfter</method>
                    </amasty_promo_model_totals_after_observer>
                </observers>
            </sales_quote_address_collect_totals_after>

            <sales_quote_remove_item>
                <observers>
                    <amasty_promo_model_remove_item_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onQuoteRemoveItem</method>
                    </amasty_promo_model_remove_item_observer>
                </observers>
            </sales_quote_remove_item>

            <sales_order_place_after>
                <observers>
                    <amasty_promo_model_place_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>decrementUsageAfterPlace</method>
                    </amasty_promo_model_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <amasty_promo_model_place_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onOrderPlaceBefore</method>
                    </amasty_promo_model_place_before_observer>
                </observers>
            </sales_order_place_before>
            <sales_quote_product_add_after>
                <observers>
                    <amasty_promo_model_add_after_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onProductAddAfter</method>
                    </amasty_promo_model_add_after_observer>
                </observers>
            </sales_quote_product_add_after>
            <!--<controller_action_predispatch_checkout_cart_updateItemOptions>-->
                <!--<observers>-->
                    <!--<amasty_promo_model_observer>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Amasty_Promo_Model_Observer</class>-->
                        <!--<method>onCartItemUpdateBefore</method>-->
                    <!--</amasty_promo_model_observer>-->
                <!--</observers>-->
            <!--</controller_action_predispatch_checkout_cart_updateItemOptions>-->
            <checkout_submit_all_after>
                <observers>
                    <amasty_promo_model_registry>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </amasty_promo_model_registry>
                </observers>
            </checkout_submit_all_after>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <amasty_promo_model_process_data_before_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>onAdminhtmlSalesOrderCreateProcessDataBefore</method>
                    </amasty_promo_model_process_data_before_observer>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <amasty_promo_model_actions_prepareform_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>handleFormCreation</method>
                    </amasty_promo_model_actions_prepareform_observer>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <amasty_promo_salesrule_prepare_save_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>salesRulePrepareSave</method>
                    </amasty_promo_salesrule_prepare_save_observer>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
            <salesrule_rule_save_before>
                <observers>
                    <amasty_rules_model_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>saveBefore</method>
                    </amasty_rules_model_observer>
                </observers>
            </salesrule_rule_save_before>
            <salesrule_rule_save_after>
                <observers>
                    <amasty_rules_model_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>saveAfter</method>
                    </amasty_rules_model_observer>
                </observers>
            </salesrule_rule_save_after>
            <controller_action_predispatch_adminhtml_promo_quote_index>
                <observers>
                    <amasty_promo_model_observer>
                        <type>singleton</type>
                        <class>Amasty_Promo_Model_Observer</class>
                        <method>prePromoQuoteIndex</method>
                    </amasty_promo_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_promo_quote_index>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ampromo>
                                            <title>Auto Add Promo Items</title>
                                        </ampromo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ampromo>
                    <file>amasty/ampromo/ampromo.xml</file>
                </ampromo>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ampromo>
            <general>
                <prefix>FREE - </prefix>
                <message>FREE!</message>
                <auto_add>1</auto_add>
                <auto_add_downloadable>0</auto_add_downloadable>
                <free_shipping>1</free_shipping>
				<calculate_tax>1</calculate_tax>
                <apply_to_admin_orders>1</apply_to_admin_orders>
				<tax_in_subtotal>1</tax_in_subtotal>
				<default_currency>1</default_currency>
            </general>
            <popup>
                <add_message><![CDATA[Select your <a href="#">FREE GIFT</a>!]]></add_message>
            </popup>
            <messages>
                <display_notification>0</display_notification>
                <notification_text><![CDATA[You did not add any gift products to the cart. <a href="{url checkout/cart}#choose-gift">Check your available gifts!</a>]]></notification_text>
                <errors>1</errors>
                <success>1</success>
            </messages>
            <banners>
                <mode>product</mode>
                <single>1</single>
                <enabled_top>1</enabled_top>
                <enabled_above_cart>1</enabled_above_cart>
            </banners>
            <gift_images>
                <gift_image_width>50</gift_image_width>
                <gift_image_height>50</gift_image_height>
            <attribute_header>name</attribute_header>
                <attribute_description>short_description</attribute_description>
            </gift_images>
        </ampromo>
    </default>
</config>
