.password-reset-title{
    font-weight: 500 !important;
    padding-top: 5%;
    padding-bottom: 3vw;
}
.password-reset-title-mob{
    font-weight: 500 !important;
    padding-top: 5%;
    padding-bottom: 3vw;
    font-size: 7vw !important;
}
.password-reset-subtitle{
    font-weight: 500 !important;
    font-size: 2vw;
}
.password-reset-subtitle-mob{
    font-weight: 500 !important;
    font-size: 3.1vw;
}
.password-reset-email{
    font-weight: 200 !important;
    font-size: 2vw;
    padding-bottom: 2vw;
}
.password-reset-email-mob{
    font-weight: 200 !important;
    font-size: 4.1vw;
    padding-bottom: 2vw;
}
.password-reset-form{
    padding-bottom: 2vw;
}
.password-reset-simpanbutton{
    width: 10vw !important;
    
}
.password-reset-button{
    padding-bottom: 7vw;
    padding-top: 3%;
}
.password-reset-button-mob{
    padding-bottom: 7vw;
    padding-top: 5%;
}
.password-reset-mob-title{
    font-weight: 500 !important;
    padding-top: 5%;
    padding-bottom: 3vw;
    font-size: 1.5vw !important;
}
.resetbutton{
    width: 10vw !important;
}