<?xml version="1.0"?>
<config>
	<modules>
		<Tm_GoogleMap>
			<version>0.1.0</version>		
		</Tm_GoogleMap>
	</modules>
	<frontend>
		<layout>
			<updates>
				<googlemap>
					<file>tm_googlemap.xml</file>
				</googlemap>
			</updates>
		</layout>		
	</frontend>	
	<global>	
		<models>
			<googlemap>
				<class>Tm_GoogleMap_Model</class>
			</googlemap>
		</models>
		<helpers>
			<googlemap>
				<class>Tm_GoogleMap_Helper</class>
			</googlemap>
		</helpers>		
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
	                <title>Allow everything</title>
	            </all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<googlemap translate="title" module="googlemap">
											<title>Tm_GoogleMap Section</title>
										</googlemap>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<googlemap>
			<embed>
				<coordinates>40.5770119,-73.969366</coordinates>
				<zoom>6</zoom>
				<width>100%</width>
				<height>200px</height>
			</embed>
			<contacts>
				<coordinates>40.5770119,-73.969366</coordinates>
				<zoom>2</zoom>
				<width>100%</width>
				<height>400px</height>
			</contacts>
		</googlemap>
	</default>
</config>
