<?xml version="1.0"?>
<config>
    <modules>
        <ShopShark_Imageswatches>
            <version>1.0.0</version><platform>ce</platform>
        </ShopShark_Imageswatches>
    </modules>

    <global>
        <blocks>
            <imageswatches>
                <class>ShopShark_Imageswatches_Block</class>
            </imageswatches>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_form>ShopShark_Imageswatches_Block_Adminhtml_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>ShopShark_Imageswatches_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <imageswatches>
                <class>ShopShark_Imageswatches_Helper</class>
            </imageswatches>
        </helpers>
        <models>
            <imageswatches>
                <class>ShopShark_Imageswatches_Model</class>
                <resourceModel>imageswatches_resource</resourceModel>
            </imageswatches>
            <imageswatches_resource>
                <class>ShopShark_Imageswatches_Model_Resource</class>
                <entities>
                    <swatchattribute>
                        <table>imageswatches_swatchattribute</table>
                    </swatchattribute>
                    <swatch>
                        <table>imageswatches_swatch</table>
                    </swatch>
                </entities>
            </imageswatches_resource>
        </models>
        <resources>
            <imageswatches_setup>
                <setup>
                    <module>ShopShark_Imageswatches</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageswatches_setup>
            <imageswatches_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageswatches_write>
            <imageswatches_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageswatches_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <imageswatches_tab>
                        <!--<type>singleton</type>-->
                        <class>imageswatches/imageswatches</class>
                        <method>addTabToAttributeEdit</method>
                    </imageswatches_tab>
                </observers>
            </adminhtml_block_html_before>
            <clean_catalog_images_cache_after>
                <observers>
                    <imageswatches_cache>
                        <!--<type>singleton</type>-->
                        <class>imageswatches/imageswatches</class>
                        <method>cleanCache</method>
                    </imageswatches_cache>
                </observers>
            </clean_catalog_images_cache_after>
            <catalog_entity_attribute_save_before>
                <observers>
                    <imageswatches_save>
                        <!--<type>singleton</type>-->
                        <class>imageswatches/imageswatches</class>
                        <method>attributeSave</method>
                    </imageswatches_save>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
        <translate>
            <modules>
                <ShopShark_Imageswatches>
                    <files>
                        <default>ShopShark_Imageswatches.csv</default>
                    </files>
                </ShopShark_Imageswatches>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <imageswatches_admin>
                <use>admin</use>
                <args>
                    <module>ShopShark_Imageswatches</module>
                    <frontName>imageswatches_admin</frontName>
                </args>
            </imageswatches_admin>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <ShopShark_Imageswatches>
                    <files>
                        <default>ShopShark_Imageswatches.csv</default>
                    </files>
                </ShopShark_Imageswatches>
            </modules>
        </translate>
        <layout>
            <updates>
                <imageswatches module="imageswatches">
                    <file>imageswatches.xml</file>
                </imageswatches>
            </updates>
        </layout>
        <routers>
            <imageswatches>
                <use>standard</use>
                <args>
                    <module>ShopShark_Imageswatches</module>
                    <frontName>imageswatches</frontName>
                </args>
            </imageswatches>
        </routers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <imageswatches>
                        <!--<type>singleton</type>-->
                        <class>imageswatches/imageswatches</class>
                        <method>processAttributesBlocks</method>
                    </imageswatches>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <default>
        <imageswatches>
            <global>
                <enabled>0</enabled>
                <width>27</width>
                <height>27</height>
                <image>1</image>
                <description>1</description>
                <short_description>1</short_description>
                <additional>1</additional>
                <title>1</title>
            </global>
        </imageswatches>
    </default>
</config>