.edit-photo-image {
  width: 200px;
  height: 200px;
}

.edit-photo-image-col {
  margin-bottom: 2rem !important;
}

.edit-photo-selected {
  border-radius: 600px;
  border: 6px solid var(--darkGreen);
}

.edit-photo-image-col {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 656px) and (max-width: 790px) {
  .edit-photo-image {
    width: 200px;
    height: 200px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 5px solid var(--darkGreen);
  }
}

@media only screen and (min-width: 791px) and (max-width: 991px) {
  .edit-photo-image {
    width: 230px;
    height: 230px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 5px solid var(--darkGreen);
  }
}

@media only screen and (min-width: 576px) and (max-width: 655px) {
  .edit-photo-image {
    width: 170px;
    height: 170px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 4px solid var(--darkGreen);
  }
}

@media only screen and (min-width: 478px) and (max-width: 575px) {
  .edit-photo-image {
    width: 140px;
    height: 140px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 4px solid var(--darkGreen);
  }
}

@media only screen and (min-width: 400px) and (max-width: 478px) {
  .edit-photo-image {
    width: 120px;
    height: 120px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 4px solid var(--darkGreen);
  }
}

@media only screen and (min-width: 341px) and (max-width: 399px) {
  .edit-photo-image {
    width: 100px;
    height: 100px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 3px solid var(--darkGreen);
  }
}

@media only screen and (max-width: 340px) {
  .edit-photo-image {
    width: 80px;
    height: 80px;
  }
  .edit-photo-selected {
    border-radius: 600px;
    border: 3px solid var(--darkGreen);
  }
}
