.chart-container {
  height: 100%;
}

.chart-container select,
.chart-container input:not([type="checkbox"]) {
  width: auto;
  display: inline-block;
  border: 0;
  border-bottom: #b9b9b9 1px solid;
  color: black;
  border-radius: 0;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.chart-container select:focus,
.chart-container select:active,
.chart-container input:focus,
.chart-container input:active {
  box-shadow: none;
  color: black;
  border-color: #8ad4ee;
}

.chart-container .react-datepicker-wrapper:focus,
.chart-container .react-datepicker__input-container,
.chart-container input {
  outline: none;
}

.chart-container .react-datepicker-wrapper input {
  text-align: center;
}

.chart-title-section {
  margin-bottom: 4%;
}

.sales-chart-wrapper,
.revenue-chart-wrapper {
  height: 300px;
}

.sales-chart-growth {
  font-weight: 700;
  font-size: 30pt;
  line-height: 1;
}

.sales-chart-growth-range input,
.ratings-period-range input {
  width: 3rem !important;
}
.Graph-Category{
  padding-bottom: 50px;
}