<?xml version="1.0"?>
<config>

    <modules>
        <Nwdthemes_Revslider>
            <version>5.1.6</version>
        </Nwdthemes_Revslider>
    </modules>

	<global>
		<helpers>
			<nwdrevslider>
				<class>Nwdthemes_Revslider_Helper</class>
			</nwdrevslider>
		</helpers>
        <models>
			<widget>
                <rewrite>
                    <template_filter>Nwdthemes_Revslider_Model_Template_Filter</template_filter>
                </rewrite>
			</widget>
            <nwdrevslider>
                <class>Nwdthemes_Revslider_Model</class>
                <resourceModel>nwdrevslider_mysql4</resourceModel>
			</nwdrevslider>
            <nwdrevslider_mysql4>
                <class>Nwdthemes_Revslider_Model_Mysql4</class>
                <entities>
                    <css>
                        <table>nwdthemes_revslider_css</table>
                    </css>
                    <animations>
                        <table>nwdthemes_revslider_layer_animations</table>
                    </animations>
                    <navigations>
                        <table>nwdthemes_revslider_navigations</table>
                    </navigations>
                    <options>
                        <table>nwdthemes_revslider_options</table>
                    </options>
                    <settings>
                        <table>nwdthemes_revslider_settings</table>
                    </settings>
                    <sliders>
                        <table>nwdthemes_revslider_sliders</table>
                    </sliders>
                    <slides>
                        <table>nwdthemes_revslider_slides</table>
                    </slides>
                    <static>
                        <table>nwdthemes_revslider_static_slides</table>
                    </static>
                </entities>
            </nwdrevslider_mysql4>
        </models>
        <blocks>
            <nwdrevslider>
                <class>Nwdthemes_Revslider_Block</class>
            </nwdrevslider>
        </blocks>
		<resources>
			<nwdthemes_revslider_setup>
				<setup>
					<module>Nwdthemes_Revslider</module>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</nwdthemes_revslider_setup>
		</resources>
	</global>

	<frontend>
        <routers>
            <nwdrevslider>
                <use>standard</use>
                <args>
                    <module>Nwdthemes_Revslider</module>
                    <frontName>nwdrevslider</frontName>
                </args>
            </nwdrevslider>
        </routers>
		<layout>
            <updates>
                <nwdrevslider>
                    <file>nwdthemes/nwdrevslider.xml</file>
                </nwdrevslider>
            </updates>
        </layout>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<nwdthemes_revslider_model_observer>
						<class>Nwdthemes_Revslider_Model_Observer</class>
						<method>setHandle</method>
					</nwdthemes_revslider_model_observer>
				</observers>
			</controller_action_layout_load_before>
		</events>
		<translate>
			<modules>
				<Nwdthemes_Revslider>
					<files>
						<default>Nwdthemes_Revslider.csv</default>
					</files>
				</Nwdthemes_Revslider>
			</modules>
		</translate>
	</frontend>

	<default>
		<nwdrevslider_config>
			<general>
				<enabled>1</enabled>
			</general>
		</nwdrevslider_config>
	</default>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<nwdrevslider after="Mage_Adminhtml">Nwdthemes_Revslider_Adminhtml</nwdrevslider>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

    <adminhtml>
        <layout>
            <updates>
                <nwdrevslider>
                    <file>nwdthemes/nwdrevslider.xml</file>
                </nwdrevslider>
            </updates>
        </layout>
		<translate>
			<modules>
				<Nwdthemes_Revslider>
					<files>
						<default>Nwdthemes_Revslider.csv</default>
					</files>
				</Nwdthemes_Revslider>
			</modules>
		</translate>
	</adminhtml>

</config>
