<?xml version="1.0"?>
<config>
    <sections>
        <nwdrevslider_config translate="label" module="nwdrevslider">
            <label>Revolution Slider Configuration</label>
            <tab>nwdall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<about translate="label">
					<label>NWDthemes.com</label>
					<frontend_type>text</frontend_type>
					<expanded>1</expanded>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<info translate="label">
							<frontend_model>nwdall/adminhtml_system_config_nwdthemes</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</info>
					</fields>
				</about>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
                            <label>Enable Revolution Slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
					</fields>
                </general>
            </groups>
		</nwdrevslider_config>
    </sections>
</config>
